<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NDPES</title>

        <!-- font icons link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- CSS LINK -->
        <link rel="stylesheet" href="../static/global.css">
        <link rel="stylesheet" href="../static/header.css">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="../static/about.css">
        <link rel="stylesheet" href="../static/contact.css">
        <link rel="stylesheet" href="../static/footer.css">
    </head>
    <body>

        <div class="main-container">
            <header class="header">
                <a href="index.html" class="logo">
                <img src="../img/ndp-logo2.jpg" alt="">
                <div>
                    <h1 class="sitename">NDPES</h1>
                    <h6 style="color: #a55f81;">New Digital Point Education System</h6>
                </div>
                </a>

                <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="index.html" class="active">Home<br></a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="dropdown">
                    <a href="#"><span>Courses</span> <i class="fa-solid fa-angle-down"></i></a>
                    <ul>
                        <li><a href="#">Diploma</a></li>
                        <li><a href="#">Certificate</a></li>
                        <li><a href="#">Graduation</a></li>
                        <li><a href="#">Languages</a></li>
                        <li><a href="#">Embedded <br>Programming</a></li>
                        <li><a href="#">Hardware <br>Training</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#"><span>Student</span> <i class="fa-solid fa-angle-down"></i></a>
                    <ul>
                        <li><a href="#">Student Verify</a></li>
                        <li><a href="#">Student Marksheet</a></li>
                        <li><a href="#">Student Certificate</a></li>
                        <li><a href="#">Course Material</a></li>
                        <li><a href="#">Apply Online</a></li>
                    </ul>
                    </li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <i class="fa-solid fa-bars mobile-nav-toggle"></i>
                </nav>
            </header>







            <!-- ========== MAIN ========== -->
            <main class="main">
                <!-- Page Title -->
                <div class="page-title">
                    <div class="heading">
                        <div class="container text-center">
                            <h1>Contact</h1>
                            <p class="mb-0">
                                Get in touch with us for any inquiries, support, or collaboration opportunities.
                            </p>
                        </div>
                    </div>
                    <nav class="breadcrumbs">
                        <div class="container">
                            <ol>
                                <li><a href="index.html">Home</a></li>
                                <li class="current">Contact</li>
                            </ol>
                        </div>
                    </nav>
                </div>
                <!-- End Page Title -->

                <!-- Contact Section -->
                <section id="contact" class="contact section">
                    <!-- Google Map -->
                    <div class="map">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.6729230199585!2d82.57903041035459!3d25.382276177498888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398fdda0c817eb45%3A0xc371da1e9b02a84d!2sNew%20Digital%20Point%20Education%20System!5e0!3m2!1sen!2sin!4v1758776815735!5m2!1sen!2sin" width="800" height="600" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- End Google Maps -->

                    <div class="container">
                        <div class="row">
                            <!-- Info Section -->
                            <div class="col info">
                                <div class="info-item">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div>
                                        <h3>Address</h3>
                                        <p>Near Sarvoday Inter College, Ramraipur, Bhadohi Nagar Palika, Uttar Pradesh </p>
                                    </div>
                                </div>

                                <div class="info-item">
                                    <i class="fa-solid fa-phone"></i>
                                    <div>
                                        <h3>Call Us</h3>
                                        <p>+91 9137198919</p>
                                    </div>
                                </div>

                                <div class="info-item">
                                    <i class="fa-regular fa-envelope"></i>
                                    <div>
                                        <h3>Email Us</h3>
                                        <p>ndpes@gmail.com</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Contact Form -->
                            <div class="col form">
                                <form class="contact-form">                              
                                    <input type="text" name="name" placeholder="Your Name" required>
                                    <input type="email" name="email" placeholder="Your Email" required>
                                    <input type="text" name="subject" placeholder="Subject" required>
                                    <textarea name="message" rows="6" placeholder="Message" required></textarea>
                                    <button type="submit">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Contact Section -->

                    
                
            </main>
            <!-- ========== /MAIN ========== -->






            <!-- ========== FOOTER ========== -->
            <footer id="footer" class="footer">

                <div class="footer-top">
                    <div class="footer-row">
                        <!-- About Column -->
                        <div class="footer-about">
                            <a href="index.html" class="logo">
                                <span class="sitename">NDPES</span>
                            </a>
                            <div class="footer-contact">
                                <p>Ramraipur, Bhadohi</p>
                                <p>Near Sarvodaya Inter College</p>
                                <p><strong>Phone:</strong> <span>+91 9137198919</span></p>
                                <p><strong>Email:</strong> <span>ndpes@gmail.com</span></p>
                            </div>
                            <div class="social-links">
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>

                        <!-- Useful Links -->
                        <div class="footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <!-- Services -->
                        <div class="footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li><a href="#">Diploma Courses</a></li>
                                <li><a href="#">Certificate Courses</a></li>
                                <li><a href="#">Graduation Courses</a></li>
                                <li><a href="#">Hardware Training</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Development</a></li>

                            </ul>
                        </div>

                        <!-- Inquiry Form -->
                        <div class="footer-inquiry">
                            <h4>Inquiry Form</h4>
                            <p>Send us your inquiries and we’ll get back to you!</p>
                            <br>
                            <form action="forms/inquiry.php">
                                <div class="inquiry-form">
                                    <input type="text" name="name" placeholder="Your Name" required>
                                    <input type="email" name="email" placeholder="Your Email" required>
                                    <input type="tel" name="phone" placeholder="Your Phone Number" required>
                                    <textarea name="message" placeholder="Your Inquiry" rows="4" required></textarea>
                                    <input type="submit" value="Send Inquiry">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    <p>© <span>Copyright</span> <strong class="sitename">NDPES</strong> <span>All Rights Reserved</span></p>
                    <div class="credits">
                        Designed by <a href="#">Tanishq Maurya</a>
                    </div>
                </div>
            </footer>
             <!-- ========== /FOOTER ========== -->


        </div>
        <!-- ========== /Main Container ========== -->




        <!-- Scroll Top Button -->
        <a href="#" id="scroll-top" class="scroll-top">
            <i class="fa-solid fa-angles-up"></i>
        </a>

        <script src="../js/main.js"></script>

    </body>
</html>
